<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Angular Project</title>
</head>

<body ng-controller='mainController'>

    <form name="myForm" ng-submit="foo()" novalidate>
        <label>Prénom : </label>
        <input class="form-control" name="prenom" type="text" required ng-minlength="2" ng-maxlength="20" ng-model="prenom" />

        <label>Nom : </label>
        <input name="nom" type="text" ng-maxlength="30" ng-model="nom" />

        <label>E-mail : </label>
        <input name="mail" type="email" ng-model="mail" required />

        <input type="submit" value="Ajouter" />
    </form>

    <table class="table" ng-if="users.length > 0">
        <tr ng-repeat="user in users">
            <td ng-bind="user.nom"></td>
            <td ng-bind="user.prenom"></td>
            <td ng-bind="user.mail"></td>
        </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/controllers/mainController.js"></script>
    <script src="js/app.js"></script>
</body>

</html>